html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: lightblue;
    overflow: hidden;
}

div#matches {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 300px;
    height: calc(100% - 40px);
}

div#match-summary {
    position: absolute;
    top: 50px;
    right: 20px;
    width: calc(100% - 360px);
    height: 100px;
}

div#ticker {
    position: absolute;
    top: 290px;
    right: 20px;
    width: calc(100% - 360px);
    height: calc(100% - 320px);
}

div#ticker div.ticker {
    border: 2px solid gray;
    padding: 2px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

div.ticker div.message {
    border: 2px solid gray;
    background-color: white;
    padding: 2px;
    margin-bottom: 5px;
}

div.match {
    width: 100%;
    height: 60px;
    border: 2px solid gray;
    font-size: 150%;
    vertical-align: middle;
    margin-bottom: 5px;
    background-color: white;
    padding: 2px;
}

div.match.active {
    background-color: seagreen !important;
}

div.match:hover {
    background-color: deepskyblue !important;
}

div.match span.team {
    display: block;
}

span.team span.name {
    display: inline-block;
    width: 200px;
    height: 25px;
    overflow: hidden;
    cursor: default;
}

span.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

span.team span.icon::before {
    content: "";
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 25px;
    width: 25px;
}

span.team.AUT.SCR span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/SK_Rapid_Wien_Logo.svg/1024px-SK_Rapid_Wien_Logo.svg.png');
}

span.team.AUT.FAK span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/FK_Austria_Wien_logo.svg/1024px-FK_Austria_Wien_logo.svg.png');
}

span.team.AUT.STU span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/de/thumb/2/20/SK_Sturm_Graz_Logo.svg/1280px-SK_Sturm_Graz_Logo.svg.png');
}

span.team.AUT.ADM span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/de/thumb/f/f2/FC_Admira_Wacker_M%C3%B6dling_Logo.svg/800px-FC_Admira_Wacker_M%C3%B6dling_Logo.svg.png');
}

span.team.AUT.HTB span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/de/thumb/c/c8/TSV_Hartberg_2010.png/1024px-TSV_Hartberg_2010.png');
}

span.team.AUT.SVR span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/SV_Ried.svg/800px-SV_Ried.svg.png');
}

span.team.AUT.SKA span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/en/7/7b/SK_Austria_Klagenfurt_New_Logo.png');
}

span.team.AUT.ALT span.icon::before {
    background-image:url('https://upload.wikimedia.org/wikipedia/de/thumb/b/b6/SC_Rheindorf_Altach.svg/1024px-SC_Rheindorf_Altach.svg.png');
}

div.event-summary {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid gray;
    padding: 2px;
    background-color: white;
}

div.event-summary td.value {
    text-align: right;
}

div.event-summary .periodCounts {
    width: 150px;
    font-size: 150%;
}

div.event-summary .periodCounts td.value {
    font-weight: bold;
}

span.eventType {
    float:left;
    content: "";
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 96px;
    width: 96px;
}

span.eventType.tiny {
    height: 16px;
    height: 16px;
}

span.eventType.other {
    background-image:url('./icons/question.svg');
}

span.eventType.quote {
    background-image:url('./icons/message.svg');
}

span.eventType.yellow_card {
    background-image:url('./icons/yellow-card.svg');
}

span.eventType.red_card {
    background-image:url('./icons/red-card.svg');
}

span.eventType.yellow_red_card {
    background-image:url('./icons/yellow-red-card.svg');
}

span.eventType.score_change {
    background-image:url('./icons/goal.svg');
}

span.eventType.substitution {
    background-image:url('./icons/substitution.svg');
}

span.eventType.period_start {
    background-image:url('./icons/whistle.svg');
}

span.eventType.shot_on_target {
    background-image:url('./icons/shot.svg');
}

span.eventType.offside {
    background-image:url('./icons/offside.svg');
}

span.eventType.penalty_awarded {
    background-image:url('./icons/penalty.svg');
}

button.load-test-data {
    position: absolute;
    top: 20px;
    left: 20px;
}